.service-img{
    width: 100%;
    height: 250px;
    display: block;
  margin-left: auto;
  margin-right: auto;

}

@media only screen and (max-width: 700px){

  .service-img{
    width: 100%;
    height: 25vh;
    display: block;
  margin-left: auto;
  margin-right: auto;

}
}